<mat-expansion-panel *ngIf="standingList">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>Driver standings info</strong>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <table class="results-table">
    <caption>Winners results</caption>
    <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Points</th>
      <th scope="col">Driver name</th>
      <th scope="col">Constructor name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let standing of standingList.DriverStandings">
      <td data-label="Position">{{standing.position}}</td>
      <td data-label="Points">{{standing.points}}</td>
      <td data-label="Driver name">{{standing.Driver.givenName}} {{ standing.Driver.familyName }}</td>
      <td data-label="Constructor name">{{standing.Constructors[0].name}}</td>
    </tr>
    </tbody>
  </table>

</mat-expansion-panel>

